In [1]:
# Tweets are collected for 1 month of period on the minute wise.

In [2]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-9"   
newest_date = "2020-06-10"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df1 = tweet_df.drop("got_criteria", 1)
tweet_df1

,date,tweet_text
0,2020-06-09 23:59:56+00:00,All their regions are down!
1,2020-06-09 23:59:53+00:00,Unfortunately no ETA yet. We are waiting on IB...
2,2020-06-09 23:59:46+00:00,Would be cool to see if they can manage to imp...
3,2020-06-09 23:59:45+00:00,IBM is canceling its facial recognition programs
4,2020-06-09 23:59:39+00:00,[Status] [Mel251] Information: IBM Cloud Netwo...
...,...,...
4995,2020-06-09 09:52:27+00:00,Indeed a bold move. IBM chose ethics over money.
4996,2020-06-09 09:51:58+00:00,"Top story: IBM will no longer offer, develop, ..."
4997,2020-06-09 09:51:57+00:00,"Top story:twitter IBM will no longer offer, de..."
4998,2020-06-09 09:51:52+00:00,"- IBM will no longer offer, develop, or resear..."
4999,2020-06-09 09:51:47+00:00,"Top story: IBM will no longer offer, develop, ..."

In [3]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-10"   
newest_date = "2020-06-11"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df2 = tweet_df.drop("got_criteria", 1)
tweet_df2

,date,tweet_text
0,2020-06-10 23:59:56+00:00,IBM Cloud outage downs customer websites globa...
1,2020-06-10 23:59:54+00:00,Yeah let's ignore this technology for being right
2,2020-06-10 23:59:47+00:00,When they asked if you @AOC could get any more...
3,2020-06-10 23:59:47+00:00,Here's an Idea... Every law enforcement should...
4,2020-06-10 23:59:23+00:00,applaud this but not sure Amazon or IBM’s move...
...,...,...
4893,2020-06-10 00:00:07+00:00,IBM Cloud suffers prolonged outage #techcrunch...
4894,2020-06-10 00:00:06+00:00,IBM Cloud down as well as their status page wh...
4895,2020-06-10 00:00:01+00:00,IBM Data Management Platform for EDB Postgres ...
4896,2020-06-10 00:00:01+00:00,IBM says it is getting out of the facial recog...
4897,2020-06-10 00:00:00+00:00,From Digital Media Jobs Network Latest Data Sc...

In [4]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-11"   
newest_date = "2020-06-12"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df3 = tweet_df.drop("got_criteria", 1)
tweet_df3

,date,tweet_text
0,2020-06-11 23:59:46+00:00,"Finally before my official friday starts, here..."
1,2020-06-11 23:59:03+00:00,I endorse this message. Everyone I know who's ...
2,2020-06-11 23:57:57+00:00,"IBM did business with Nazis. Literally, look i..."
3,2020-06-11 23:57:10+00:00,"IBM, then Amazon, then Microsoft. ""Microsoft b..."
4,2020-06-11 23:53:02+00:00,Microsoft Won’t Sell Police Its Facial-Recogni...
...,...,...
3870,2020-06-11 00:00:27+00:00,Why do you make EVERYTHING about race?
3871,2020-06-11 00:00:26+00:00,Affordable CAFM Asset Data Collection survey &...
3872,2020-06-11 00:00:22+00:00,Because IBM failed in developing their technol...
3873,2020-06-11 00:00:16+00:00,"Another thing to note from ""Black Software,"" i..."
3874,2020-06-11 00:00:11+00:00,IBM to withdraw from facial recognition market...

In [5]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-12"   
newest_date = "2020-06-13"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df4 = tweet_df.drop("got_criteria", 1)
tweet_df4

,date,tweet_text
0,2020-06-12 23:59:57+00:00,https://lnkd.in/gjPBQ-B Greg Land IBM https://...
1,2020-06-12 23:59:00+00:00,"baks, @AutumnFairy9 si lee gon. pwede i hire n..."
2,2020-06-12 23:58:49+00:00,Who is “you?” I’ve never been to NASCAR in my ...
3,2020-06-12 23:57:18+00:00,more like a new generation is coming up to rep...
4,2020-06-12 23:56:02+00:00,Do you know how long it took IBM to catch on t...
...,...,...
2544,2020-06-12 00:01:57+00:00,COSPLAY IPAD IS ULTIMATE ETHEREUM CAN'T HAVE C...
2545,2020-06-12 00:00:48+00:00,"Presentist morality aside, IBM machines were u..."
2546,2020-06-12 00:00:32+00:00,Netezza is making a comeback on Netezza Perfor...
2547,2020-06-12 00:00:16+00:00,"If Microsoft, IBM &amp; Amazon won't sell thei..."
2548,2020-06-12 00:00:16+00:00,#IBM sunsets general purpose facial recognitio...

In [6]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-13"   
newest_date = "2020-06-14"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df5 = tweet_df.drop("got_criteria", 1)
tweet_df5

,date,tweet_text
0,2020-06-13 23:59:25+00:00,"Weekend Roundup: #IBM, #Amazon and #FacialReco..."
1,2020-06-13 23:58:58+00:00,Looks like IBM was leading
2,2020-06-13 23:58:21+00:00,"Guyyyyyyy that movie was trash, they guy was j..."
3,2020-06-13 23:57:57+00:00,He made his money through IBM's stupidity.
4,2020-06-13 23:57:38+00:00,computer scientist who is an institute profess...
...,...,...
1772,2020-06-13 00:00:29+00:00,"That's probably smart, I personally don't like..."
1773,2020-06-13 00:00:11+00:00,Otis Boykin invented the IBM computer AND the ...
1774,2020-06-13 00:00:02+00:00,IBM CPO Dinesh Nirmal on carrying out a vision...
1775,2020-06-13 00:00:00+00:00,What are the concerns with facial recognition?...
1776,2020-06-13 00:00:00+00:00,Six Lessons I Learned Overcoming Breast Cancer...

In [7]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-14"   
newest_date = "2020-06-15"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df6 = tweet_df.drop("got_criteria", 1)
tweet_df6

,date,tweet_text
0,2020-06-14 23:57:25+00:00,View my verified achievement from @IBM. AI exp...
1,2020-06-14 23:55:27+00:00,"Microsoft joins IBM, Amazon in restricting use..."
2,2020-06-14 23:54:53+00:00,RT conexion_ibm: #ConexiónDesdeCasa (63) - Sal...
3,2020-06-14 23:52:53+00:00,"I've got a secret, I've been hiding under my s..."
4,2020-06-14 23:41:28+00:00,Pennsylvania sues IBM over $170 million contra...
...,...,...
1261,2020-06-14 00:06:08+00:00,I'm on team screw IBM given their willingness ...
1262,2020-06-14 00:04:30+00:00,fcstat The fcstat command reports statistics d...
1263,2020-06-14 00:03:21+00:00,IBM just reignited the discussion around wheth...
1264,2020-06-14 00:03:18+00:00,You mean protesting was not ok?
1265,2020-06-14 00:00:03+00:00,"IBM’s Ritika Gunnar, vice president of the Dat..."

In [8]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-15"   
newest_date = "2020-06-16"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df7 = tweet_df.drop("got_criteria", 1)
tweet_df7

,date,tweet_text
0,2020-06-15 23:58:50+00:00,"In the last week IBM Cloud went down, Office36..."
1,2020-06-15 23:55:52+00:00,"The Mythical Man-Month, Fred Brooks. Essays on..."
2,2020-06-15 23:55:49+00:00,Congratulations - very well earned! Great achi...
3,2020-06-15 23:53:31+00:00,Yea like I understand what ur saying .. I avoi...
4,2020-06-15 23:51:49+00:00,#rally day $es_f $AAPL #daytrading #marketprof...
...,...,...
2094,2020-06-15 00:05:45+00:00,Due to start a philosophy degree in September ...
2095,2020-06-15 00:03:47+00:00,If ! Only people keep their file IBM Storage -...
2096,2020-06-15 00:00:26+00:00,"Amazon, IBM, and Microsoft back away from sell..."
2097,2020-06-15 00:00:16+00:00,alps? cherry mx? ibm buckling spring? halleffect?
2098,2020-06-15 00:00:02+00:00,IBM CPO Dinesh Nirmal on carrying out a vision...

In [9]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-16"   
newest_date = "2020-06-17"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df8 = tweet_df.drop("got_criteria", 1)
tweet_df8

,date,tweet_text
0,2020-06-16 23:59:55+00:00,"""IBM, along with Amazon, Google, Microsoft, In..."
1,2020-06-16 23:59:08+00:00,"""What business did she have parachuting in and..."
2,2020-06-16 23:57:37+00:00,"i’m currently at IBM, but it’s a weird void wh..."
3,2020-06-16 23:57:09+00:00,Enjoying the heck out of our #IBM #LabServices...
4,2020-06-16 23:57:03+00:00,If WeChat cannot escape from In-App Subscripti...
...,...,...
2200,2020-06-16 00:02:03+00:00,The case-study analysis of security incidents ...
2201,2020-06-16 00:01:36+00:00,"#CentOS Linux 8.2 Officially Released, Based o..."
2202,2020-06-16 00:00:42+00:00,"Accelerate your journey to cloud, hear more on..."
2203,2020-06-16 00:00:40+00:00,IBM acquires Spanugo to bolster cloud for regu...
2204,2020-06-16 00:00:06+00:00,IBM native commands are pretty bad about outpu...

In [10]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-17"   
newest_date = "2020-06-18"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df9 = tweet_df.drop("got_criteria", 1)
tweet_df9

,date,tweet_text
0,2020-06-17 23:58:34+00:00,I remember my first gpu being integrated graph...
1,2020-06-17 23:55:47+00:00,Amazon is handling DDoS that is over twice the...
2,2020-06-17 23:55:41+00:00,Thank you
3,2020-06-17 23:54:40+00:00,"Congratulations, and well done."
4,2020-06-17 23:52:33+00:00,#Lenovo is IBM’s company
...,...,...
2091,2020-06-17 00:01:05+00:00,Welcome to the team! So excited to get to work...
2092,2020-06-17 00:01:02+00:00,GS1 US Completes Food Traceability Proof-of-Co...
2093,2020-06-17 00:00:47+00:00,"IBM will no longer offer, develop, or research..."
2094,2020-06-17 00:00:05+00:00,"IBM, Microsoft even @Amazon have quit making f..."
2095,2020-06-17 00:00:01+00:00,IBM Cloud Paks Explained

In [11]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-18"   
newest_date = "2020-06-19"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df10 = tweet_df.drop("got_criteria", 1)
tweet_df10

,date,tweet_text
0,2020-06-18 23:57:14+00:00,"Also historical order. ""Bytes"" came out in 196..."
1,2020-06-18 23:55:37+00:00,Honeywell claims to have world’s highest perfo...
2,2020-06-18 23:55:07+00:00,Sydney Uni; Dept of Government. I was among th...
3,2020-06-18 23:53:04+00:00,https://www.pandorabots.com/mitsuku/ beautyfu...
4,2020-06-18 23:52:59+00:00,"Nice. That’s what I’m gonna do to the red, the..."
...,...,...
2151,2020-06-18 00:04:28+00:00,The same A-Hole that allows a virus on his com...
2152,2020-06-18 00:03:17+00:00,The new era of Co-working spaces in Tier-II ci...
2153,2020-06-18 00:00:03+00:00,"IBM's VP, Chief Diversity Officer Carla Grant ..."
2154,2020-06-18 00:00:01+00:00,"""While you can’t see the future, you can learn..."
2155,2020-06-18 00:00:01+00:00,Digital reinvention for insurance: Differentia...

In [12]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-19"   
newest_date = "2020-06-20"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df11 = tweet_df.drop("got_criteria", 1)
tweet_df11

,date,tweet_text
0,2020-06-19 23:58:55+00:00,IBM Spectrum LSF Simulator 10.1 is released. A...
1,2020-06-19 23:54:27+00:00,@ibm wink Here’s a song for you… Riding on the...
2,2020-06-19 23:54:02+00:00,Global #BigData #Analytics in #Banking Market ...
3,2020-06-19 23:51:01+00:00,"""#IBM ends #FacialRecognition #SoftwareDevelop..."
4,2020-06-19 23:49:45+00:00,@IBMWatsonMedia WATSON DO YOU PLAY MUSIC LIKE ...
...,...,...
1916,2020-06-19 00:03:12+00:00,Helping to identify this guy would be an easy ...
1917,2020-06-19 00:00:17+00:00,How to Build an Automated SMS Survey Using Twi...
1918,2020-06-19 00:00:11+00:00,Charles Sturt University will join with IBM an...
1919,2020-06-19 00:00:10+00:00,Mark E. Dean is an inventor and computer engin...
1920,2020-06-19 00:00:09+00:00,"One of the hardest blog post I ever did, Cloud..."

In [13]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-20"   
newest_date = "2020-06-21"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df12 = tweet_df.drop("got_criteria", 1)
tweet_df12

,date,tweet_text
0,2020-06-20 23:58:59+00:00,@callforcode ANZ #hackathon is wrapping up in ...
1,2020-06-20 23:53:34+00:00,I don't think dataset diversity is the root of...
2,2020-06-20 23:53:25+00:00,"Yes, the induced current in UTP can be substan..."
3,2020-06-20 23:52:07+00:00,Gaskiya una players don’t old and the coach no...
4,2020-06-20 23:50:13+00:00,Turing's concept of such a paper machine worki...
...,...,...
1327,2020-06-20 00:03:29+00:00,"75,000 IBM India Employees Will Permanently Wo..."
1328,2020-06-20 00:02:22+00:00,@Aliyu_Ibm what did I tell you?
1329,2020-06-20 00:00:18+00:00,How to Build an Automated SMS Survey Using Twi...
1330,2020-06-20 00:00:03+00:00,Former IBM CEO Ginni Rometty brings focus to d...
1331,2020-06-20 00:00:02+00:00,"IBM's VP, Chief Diversity Officer Carla Grant ..."

In [14]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-21"   
newest_date = "2020-06-22"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df13 = tweet_df.drop("got_criteria", 1)
tweet_df13

,date,tweet_text
0,2020-06-21 23:59:05+00:00,#IndiaBusinessMachines @IBM has 500 #India #jo...
1,2020-06-21 23:56:44+00:00,ak whole i mean i feel like a 'bout 2 dadE fs ...
2,2020-06-21 23:56:04+00:00,Nice to have the skeptics of IBM! the race is ...
3,2020-06-21 23:49:58+00:00,I am most optimistic about IBM! Good luck!
4,2020-06-21 23:46:16+00:00,Are these partnerships real? This would be pre...
...,...,...
995,2020-06-21 00:05:30+00:00,I don’t know how making videos on retro stuff ...
996,2020-06-21 00:04:15+00:00,Piss on your pride.
997,2020-06-21 00:03:47+00:00,I got an original IBM punch card in an old PL/...
998,2020-06-21 00:00:49+00:00,Flaw in #IBM Asset Management Product Facilita...
999,2020-06-21 00:00:02+00:00,I was an observer on the ASCII committee in th...

In [15]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-22"   
newest_date = "2020-06-23"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df14 = tweet_df.drop("got_criteria", 1)
tweet_df14

,date,tweet_text
0,2020-06-22 23:59:40+00:00,"$MSFT “When deep space exploration ramps up, i..."
1,2020-06-22 23:59:21+00:00,Salam Pacific Indonesia Lines has streamlined ...
2,2020-06-22 23:58:21+00:00,"In these challenging times, ABM Investama mana..."
3,2020-06-22 23:58:04+00:00,"IBM will no longer offer, develop, or research..."
4,2020-06-22 23:57:45+00:00,A supercomputer called Fugaku took first place...
...,...,...
1944,2020-06-22 00:00:16+00:00,How to Build an Automated SMS Survey Using Twi...
1945,2020-06-22 00:00:05+00:00,IBM Plex text fractions with ConTeXt https://t...
1946,2020-06-22 00:00:02+00:00,IBM and Box deepen their collaboration to help...
1947,2020-06-22 00:00:02+00:00,Wondering how #AI is connected with #IoT and w...
1948,2020-06-22 00:00:01+00:00,"Bank of America, IBM collaborating on a financ..."

In [16]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-23"   
newest_date = "2020-06-24"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df15 = tweet_df.drop("got_criteria", 1)
tweet_df15

,date,tweet_text
0,2020-06-23 23:57:53+00:00,lol it will shock you. Trust me it’ll be somew...
1,2020-06-23 23:57:37+00:00,This is the IBM Graf
2,2020-06-23 23:57:03+00:00,.... especially for the sake of the majority t...
3,2020-06-23 23:56:08+00:00,Will $TWTR Do Something About Nikki Haley Thre...
4,2020-06-23 23:54:28+00:00,We sell the earth to groups of one million peo...
...,...,...
2134,2020-06-23 00:04:22+00:00,Even the IBM jumpstart challenge was also sile...
2135,2020-06-23 00:02:24+00:00,René Bostic (@ReneBosticAtIBM) is the Technic...
2136,2020-06-23 00:01:24+00:00,I hooked ya up with his IBM
2137,2020-06-23 00:00:17+00:00,What’s up with your logo?
2138,2020-06-23 00:00:00+00:00,We are excited to announce the latest release ...

In [17]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-24"   
newest_date = "2020-06-25"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df16 = tweet_df.drop("got_criteria", 1)
tweet_df16

,date,tweet_text
0,2020-06-24 23:59:51+00:00,Buy stock in IBM
1,2020-06-24 23:58:18+00:00,Kamala Harris is Jamaican & Indian. Where in A...
2,2020-06-24 23:57:51+00:00,Please join me TOMORROW (6/25) at 11 AM PT / 2...
3,2020-06-24 23:57:05+00:00,My Heart is FULL @PTECHNETWORK @PathwaysInTech...
4,2020-06-24 23:54:35+00:00,.@AmbJohnBolton on @marthamaccallum proved onc...
...,...,...
2183,2020-06-24 00:05:55+00:00,Well best of luck I guess
2184,2020-06-24 00:05:14+00:00,You never know though. There was a time when I...
2185,2020-06-24 00:02:50+00:00,I feel you sha. Nice one!
2186,2020-06-24 00:01:58+00:00,I have an IBM PC here that I want to use but I...
2187,2020-06-24 00:00:52+00:00,"Kim Reheiser, Product Management, IBM Sterling..."

In [18]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-25"   
newest_date = "2020-06-26"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df17 = tweet_df.drop("got_criteria", 1)
tweet_df17

,date,tweet_text
0,2020-06-25 23:59:13+00:00,I learned a lot talking with Kramer Reeves fro...
1,2020-06-25 23:58:30+00:00,no one cares this is getting embarrassing. Go...
2,2020-06-25 23:58:09+00:00,"iBM makes the chips, dumbo ?"
3,2020-06-25 23:56:42+00:00,Farmed fish dyed for you...hard pass
4,2020-06-25 23:56:27+00:00,But still there.
...,...,...
2211,2020-06-25 00:01:13+00:00,"Not soon, IBM got that contract!"
2212,2020-06-25 00:00:16+00:00,How to Build an Automated SMS Survey Using Twi...
2213,2020-06-25 00:00:03+00:00,IBM Db2 Management Console
2214,2020-06-25 00:00:01+00:00,#IBM Sterling Inventory Control Tower allows y...
2215,2020-06-25 00:00:00+00:00,.@tfir_io talks with @carolynrogers about some...

In [20]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-26"   
newest_date = "2020-06-27"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df18 = tweet_df.drop("got_criteria", 1)
tweet_df18

,date,tweet_text
0,2020-06-26 23:59:50+00:00,Alex Morales will be spending his summer inter...
1,2020-06-26 23:59:12+00:00,God forbid somebody gain work experience after...
2,2020-06-26 23:58:14+00:00,Lovely set of tweets. You nailed it. $VIDT is ...
3,2020-06-26 23:56:31+00:00,#TechnoCool: Cardano Development Company to Jo...
4,2020-06-26 23:55:15+00:00,Stfu
...,...,...
2114,2020-06-26 00:01:58+00:00,In general we've seen IBM reluctant to expose ...
2115,2020-06-26 00:01:10+00:00,Salam Pacific Indonesia Lines has streamlined ...
2116,2020-06-26 00:00:17+00:00,How to Build an Automated SMS Survey Using Twi...
2117,2020-06-26 00:00:02+00:00,Become an #AI #developer in 4 weeks through th...
2118,2020-06-26 00:00:00+00:00,IBM: Central Banks Will Launch Digital Currenc...

In [21]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-27"   
newest_date = "2020-06-28"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df19 = tweet_df.drop("got_criteria", 1)
tweet_df19

,date,tweet_text
0,2020-06-27 23:59:59+00:00,You guys have zero self awareness.
1,2020-06-27 23:58:18+00:00,"The data integrity market is huge, every big c..."
2,2020-06-27 23:54:26+00:00,#TechnoCool: Cardano’s IOHK and Global Blockch...
3,2020-06-27 23:53:35+00:00,Welcome! I started in Test at IBM 18 years ago...
4,2020-06-27 23:52:51+00:00,"so close, yet so far away. have you read the P..."
...,...,...
1416,2020-06-27 00:02:09+00:00,@realDonaldTrump @CommerceGov @freedomcaucus @...
1417,2020-06-27 00:02:00+00:00,Using IBM Kubernetes Service as an inlets exit...
1418,2020-06-27 00:01:54+00:00,I hope it drops once more. Plan to accumulate ...
1419,2020-06-27 00:01:24+00:00,The Ministry of Digital Economy & Society of T...
1420,2020-06-27 00:00:02+00:00,The IBM | #SAP partnership delivers new intell...

In [22]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-28"   
newest_date = "2020-06-29"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df20 = tweet_df.drop("got_criteria", 1)
tweet_df20

,date,tweet_text
0,2020-06-28 23:59:11+00:00,"Will developments in #AI, #MachineLearning and..."
1,2020-06-28 23:57:15+00:00,IBM did my grandpa John so well
2,2020-06-28 23:54:07+00:00,Microsoft Paintbrush For IBM &amp; PC 3.5” Flo...
3,2020-06-28 23:54:02+00:00,Global Software Testing Services Market Foreca...
4,2020-06-28 23:52:02+00:00,"Okay time to bring down apple, Microsoft, Inte..."
...,...,...
1118,2020-06-28 00:04:25+00:00,Forget na me suffer pass
1119,2020-06-28 00:02:07+00:00,Congrats!!! I enjoyed my time at @IBM - hope y...
1120,2020-06-28 00:02:00+00:00,IBM CMO @michelleapeluso on #marketing in the ...
1121,2020-06-28 00:00:39+00:00,ABM Investama managed to extract lightning-spe...
1122,2020-06-28 00:00:23+00:00,IBM's 2020 AWARD FINALIST CASE STUDY : Best Ac...

In [23]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-29"   
newest_date = "2020-06-30"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df21 = tweet_df.drop("got_criteria", 1)
tweet_df21

,date,tweet_text
0,2020-06-29 23:58:40+00:00,View my verified achievement from @IBM.
1,2020-06-29 23:58:11+00:00,Long term dex is a steroid that will kill you....
2,2020-06-29 23:56:08+00:00,View my verified achievement from @IBM.
3,2020-06-29 23:56:01+00:00,Software Testing in Telecom Market (impact of ...
4,2020-06-29 23:55:22+00:00,Banning Chinese app is no big deal...no busine...
...,...,...
1882,2020-06-29 00:00:22+00:00,I learned a lot talking with Kramer Reeves fro...
1883,2020-06-29 00:00:17+00:00,How to Build an Automated SMS Survey Using Twi...
1884,2020-06-29 00:00:03+00:00,Wondering how #AI is connected with #IoT and w...
1885,2020-06-29 00:00:03+00:00,The way you need to manage your real estate an...
1886,2020-06-29 00:00:03+00:00,Top reasons to run SAP solutions on Red Hat an...

In [24]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-06-30"   
newest_date = "2020-07-1"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df22 = tweet_df.drop("got_criteria", 1)
tweet_df22

,date,tweet_text
0,2020-06-30 23:59:44+00:00,It's branding on the cheap. Publicists wanted ...
1,2020-06-30 23:59:01+00:00,Global Software Testing System Integration Mar...
2,2020-06-30 23:58:59+00:00,How about everyone work hard and stay current ...
3,2020-06-30 23:58:20+00:00,The inverse strategy of maximizing noise would...
4,2020-06-30 23:56:20+00:00,Jim Cramer $GLD -&gt; “I #always say own some ...
...,...,...
2100,2020-06-30 00:01:04+00:00,IBM and LFAI move forward on trustworthy and r...
2101,2020-06-30 00:00:17+00:00,How to Build an Automated SMS Survey Using Twi...
2102,2020-06-30 00:00:11+00:00,An animator built a miniature version of IBM's...
2103,2020-06-30 00:00:10+00:00,Apple is repeating what IBM did four years ago...
2104,2020-06-30 00:00:02+00:00,Tune into the webinar series to learn how IBM ...

In [25]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-1"   
newest_date = "2020-07-2"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df23 = tweet_df.drop("got_criteria", 1)
tweet_df23

,date,tweet_text
0,2020-07-01 23:59:08+00:00,The 2020 Cyber Resilient Organization Report b...
1,2020-07-01 23:56:02+00:00,If depended if you had a Macintosh (Macwrite) ...
2,2020-07-01 23:55:07+00:00,The Party Is Over When The Bill Comes Due. $aa...
3,2020-07-01 23:54:21+00:00,$IBM: New Insider Filing on INTERNATIONAL BUSI...
4,2020-07-01 23:54:01+00:00,#mixday $es_f $AAPL #daytrading #marketprofile...
...,...,...
1943,2020-07-01 00:05:03+00:00,[Google] Data Migration Market Influencing Fac...
1944,2020-07-01 00:03:06+00:00,Innovation has nothing to do with how many R&D...
1945,2020-07-01 00:02:23+00:00,"I won't say my age online, but 90's were the b..."
1946,2020-07-01 00:00:02+00:00,"IBM: It may be slow, but it's hard to use. #ch..."
1947,2020-07-01 00:00:02+00:00,IBM Cloud Pak for Data with Watson Studio Prem...

In [26]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-2"   
newest_date = "2020-07-3"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df24 = tweet_df.drop("got_criteria", 1)
tweet_df24

,date,tweet_text
0,2020-07-02 23:55:24+00:00,"In the wake of the pandemic, extreme digitizat..."
1,2020-07-02 23:52:52+00:00,Access IBM #quantum computers in the #cloud th...
2,2020-07-02 23:52:47+00:00,If voting made a difference we’d never be allo...
3,2020-07-02 23:52:12+00:00,IBM Quantum offers advanced system access at n...
4,2020-07-02 23:50:02+00:00,IBM Public Cloud to Accelerate Daimler's Digit...
...,...,...
1883,2020-07-02 00:01:11+00:00,I learned a lot talking with Kramer Reeves fro...
1884,2020-07-02 00:00:55+00:00,"Amazing model of IBM's famed 1401, the first m..."
1885,2020-07-02 00:00:28+00:00,"Will developments in #AI, #MachineLearning and..."
1886,2020-07-02 00:00:11+00:00,Check out the latest IBM Systems Magazine and ...
1887,2020-07-02 00:00:00+00:00,#IBM’s New #AI Tool Parses A Tidal Wave of #Co...

In [27]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-3"   
newest_date = "2020-07-4"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df25 = tweet_df.drop("got_criteria", 1)
tweet_df25

,date,tweet_text
0,2020-07-03 23:56:28+00:00,Open Source for IBM i Helps Organizations Onbo...
1,2020-07-03 23:54:02+00:00,Datamation: IBM Changes The Game On Supercompu...
2,2020-07-03 23:52:28+00:00,"Study Accounting, Banking, Finance, Marketing,..."
3,2020-07-03 23:51:20+00:00,BrimB
4,2020-07-03 23:48:41+00:00,They did a exhibition game at the IBM field ho...
...,...,...
1354,2020-07-03 00:02:33+00:00,What are you doing for #LicensedPEDay? Join yo...
1355,2020-07-03 00:00:36+00:00,IBM's 2020 AWARD FINALIST CASE STUDY : Best Ac...
1356,2020-07-03 00:00:13+00:00,Making Sense of IoT Platforms: AWS vs Azure vs...
1357,2020-07-03 00:00:03+00:00,Unlock IT cost savings with IBM Cloud Pak for ...
1358,2020-07-03 00:00:02+00:00,"""Using IBM Cloud Pak for Data, our algorithms ..."

In [28]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-4"   
newest_date = "2020-07-5"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df26 = tweet_df.drop("got_criteria", 1)
tweet_df26

,date,tweet_text
0,2020-07-04 23:57:17+00:00,"Much respect, Andrew. That being said, like Th..."
1,2020-07-04 23:57:04+00:00,Plastic!? The plastic industries should be shu...
2,2020-07-04 23:56:15+00:00,17″ 17.3″ LAPTOP SLEEVE NOTEBOOK BAG CASE + Hi...
3,2020-07-04 23:55:36+00:00,5 High-Yield Dividend Stocks to Watch @themotl...
4,2020-07-04 23:54:52+00:00,Unrelated but... I've programmed mainframes pr...
...,...,...
1027,2020-07-04 00:07:34+00:00,Ibm 00fn232 6tb Sas 12gbps 7200rpm 35inch Near...
1028,2020-07-04 00:04:11+00:00,tabulator in the 1880s and founded the company...
1029,2020-07-04 00:03:02+00:00,PionerasDev wins IBM Open Source Community Gra...
1030,2020-07-04 00:02:00+00:00,IBM earns 13 top ranks in BARC's The Planning ...
1031,2020-07-04 00:00:45+00:00,Doing cloud-native development on IBM Z https:...

In [29]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-5"   
newest_date = "2020-07-6"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df27 = tweet_df.drop("got_criteria", 1)
tweet_df27

,date,tweet_text
0,2020-07-05 23:57:20+00:00,"I hope I am FarFromNaive but hey, it makes sen..."
1,2020-07-05 23:51:22+00:00,"IBM CEO: Hybrid cloud, AI key to rapid digital..."
2,2020-07-05 23:45:21+00:00,Besides Windows 3.1 (the first version to requ...
3,2020-07-05 23:44:07+00:00,That little mark on the top left is an imprint...
4,2020-07-05 23:43:44+00:00,"Or Canada, or almost anywhere in Europe. Sure,..."
...,...,...
868,2020-07-05 00:06:32+00:00,Mobile Security Market is Booming Worldwide | ...
869,2020-07-05 00:05:56+00:00,There are better solutions and other options
870,2020-07-05 00:05:05+00:00,Yeah. I guess w/ all that high-tech you missed...
871,2020-07-05 00:03:12+00:00,IBM quit while your ahead hels a bitch 4everno...
872,2020-07-05 00:01:15+00:00,"Will developments in #AI, #MachineLearning and..."

In [30]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-6"   
newest_date = "2020-07-7"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df28 = tweet_df.drop("got_criteria", 1)
tweet_df28

,date,tweet_text
0,2020-07-06 23:59:25+00:00,Part of my role at IBM involves heading up our...
1,2020-07-06 23:58:17+00:00,"IBM amends credit arrangements, secures new $2..."
2,2020-07-06 23:55:57+00:00,Running a hosting co. is such hard work. Long ...
3,2020-07-06 23:55:37+00:00,The top priority for businesses is to drive ag...
4,2020-07-06 23:55:24+00:00,British Hospital Launches Virtual Assistant Us...
...,...,...
1659,2020-07-06 00:11:34+00:00,"IBM banking on cloud, AI to drive digital tran..."
1660,2020-07-06 00:09:29+00:00,"AFAIK CP437 is a character set, so you probabl..."
1661,2020-07-06 00:04:04+00:00,1945: IBM’s Watson Sr. “forbade use of the wor...
1662,2020-07-06 00:01:17+00:00,#hashtag2 16V 4.5A 72W Charger for Lenovo/ IBM...
1663,2020-07-06 00:00:13+00:00,"""I think we have a moment where big tech is li..."

In [31]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-7"   
newest_date = "2020-07-8"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df29 = tweet_df.drop("got_criteria", 1)
tweet_df29

,date,tweet_text
0,2020-07-07 23:59:59+00:00,#IBM Introduces Sterling Inventory Control Tow...
1,2020-07-07 23:59:14+00:00,Check out my blog article for IBM Automation -...
2,2020-07-07 23:57:36+00:00,I haven't heard IBM but probably similar to th...
3,2020-07-07 23:57:33+00:00,$IBM Daily chart. Yields 5.55%. Earnings 7/20....
4,2020-07-07 23:56:09+00:00,Until you realize that there have been many hi...
...,...,...
1746,2020-07-07 00:15:25+00:00,You have not got a clue about software configu...
1747,2020-07-07 00:15:06+00:00,Dam I need to follow up on #MileyCyrus this ta...
1748,2020-07-07 00:06:11+00:00,View my verified achievement from @IBM.
1749,2020-07-07 00:00:04+00:00,Looking for more accurate forecasts while redu...
1750,2020-07-07 00:00:03+00:00,Exciting times between IBM and SAP - bringing ...

In [32]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-8"   
newest_date = "2020-07-9"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df29 = tweet_df.drop("got_criteria", 1)
tweet_df29

,date,tweet_text
0,2020-07-08 23:58:57+00:00,$IBIO $IBM latest article talks about both!
1,2020-07-08 23:58:28+00:00,That's something only IBM can answer. There ar...
2,2020-07-08 23:55:17+00:00,43V5683 95-105-Watts Heatsink for BladeCenter ...
3,2020-07-08 23:53:30+00:00,another american icon disappearing in front of...
4,2020-07-08 23:53:28+00:00,Nice work! Finagling a 486 to do something so ...
...,...,...
2022,2020-07-08 00:05:06+00:00,"Thank you, Governor Whitmer."
2023,2020-07-08 00:04:29+00:00,But it's only temporary. The US made Indians t...
2024,2020-07-08 00:03:03+00:00,So impressed by the Enterprise Block Chain awa...
2025,2020-07-08 00:02:09+00:00,Missed this one. Broke my freaking heart lol
2026,2020-07-08 00:00:02+00:00,IBM Maas 360 with Watson https://lnkd.in/dYVrfjp

In [33]:
import GetOldTweets3 as got
import pandas as pd

#create a function to extract twitter information into a pandas df
def get_twitter_info():
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
oldest_date = "2020-07-9"   
newest_date = "2020-07-10"

#get old tweets 


tweet_criteria = got.manager.TweetCriteria().setQuerySearch("IBM")\
                                            .setLang('en')\
                                            .setSince(oldest_date)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(5000)
#extract twitter information
tweet_df = pd.DataFrame({'got_criteria':got.manager.TweetManager.getTweets(tweet_criteria)})
get_twitter_info()
tweet_df30 = tweet_df.drop("got_criteria", 1)
tweet_df30

,date,tweet_text
0,2020-07-09 23:59:23+00:00,IBM's 2020 AWARD FINALIST CASE STUDY : Best Ac...
1,2020-07-09 23:59:18+00:00,IBM's 2020 AWARD FINALIST CASE STUDY : Best Ac...
2,2020-07-09 23:59:04+00:00,"IBM, Microsoft even @Amazon have quit making f..."
3,2020-07-09 23:57:45+00:00,"IBM, Accenture, Morgan Stanley and others hiri..."
4,2020-07-09 23:57:11+00:00,Pure pushes past IBM for top three place in al...
...,...,...
2212,2020-07-09 00:01:42+00:00,Why IBM doesn’t agree with Google’s Open Usage...
2213,2020-07-09 00:00:32+00:00,The Growing Practice of IBM DesignOps https://...
2214,2020-07-09 00:00:10+00:00,FULL TECHNOLOGY NOTE UP: https://www.chartsmar...
2215,2020-07-09 00:00:01+00:00,Oman’s Largest Port Joins IBM’s Blockchain Shi...
2216,2020-07-09 00:00:00+00:00,Something special this week...to shout out #Ca...

In [34]:
dataset =pd.concat([tweet_df1,tweet_df2,tweet_df3,tweet_df4,tweet_df5,tweet_df6,tweet_df7,tweet_df8,tweet_df9,tweet_df10,tweet_df11,tweet_df12,tweet_df13,tweet_df14,tweet_df15,tweet_df16,tweet_df17,tweet_df18,tweet_df19,tweet_df20,tweet_df21,tweet_df22,tweet_df23,tweet_df24,tweet_df25,tweet_df26,tweet_df27,tweet_df28,tweet_df29,tweet_df30])

In [35]:
dataset.to_csv('tweet IBM')